recursive-include chroniker/templates *
recursive-include chroniker/static *
recursive-include chroniker/tests/fixtures *
include requirements-min-django.txt
include requirements.txt
include requirements-test.txt
