tox>=2.0.0
# Can't be set due to conflicting versions for Py2 and Py3.
pylint==2.17.3
django-admin-steroids>=0.4.0
mkdocs==1.4.2
yapf==0.29.0
twine==4.0.2
pre-commit==2.11.0
# Support for using pytz will be removed in Django 5.0.
# Don't specify a version for it now. It will already be included in
# Django versions prior to 4.0.
pytz
