{% extends 'base.html' %}
{% block h1 %} &rsaquo; <a href="{% url job log.job.pk %}">{{ log.job.name }}</a> log{% endblock %}
{% block extrahead %}
    <style>
    pre{padding:1em;background:#eee;border-radius:4px}
    pre.stderr{background:#fdd;color:#811}
    </style>
{% endblock %}
{% block content %}
<h2>{{ log.run_start_datetime }} - {{ log.run_end_datetime }}</h2>
<p>{{ log.duration_seconds }} seconds

{% if log.stdout %}<pre class="stdout">{{ log.stdout|linebreaksbr }}</pre>{% endif %}
{% if log.stderr %}<pre class="stderr">{{ log.stderr|linebreaksbr }}</pre>{% endif %}

{% endblock %}